<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome{% endblock %} &mdash; LPT Print Queue System</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/base.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="wrapper">
            <header>
                <h1>LPQS WebPanel</h1>
                <p>Logged as <strong>{{ app.user.username }}</strong> | 
                {% if is_granted('ROLE_ADMIN') %} <a href="{{ path('admin_home') }}">Admin</a> {% endif %}
                <a href="{{ path('fos_user_security_logout') }}">Log out</a>
                </p>
            </header>
            <section id="maincontent">
                {% block body %}{% endblock %}
            </section>
            <footer>
                <p>LPQS WebSystem Module</p>
            </footer>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
