{% extends 'base.html.twig' %}

{% block body %}
    <h2>Edit category</h2>
    <p>ID: <b>{{ form.vars.value.id }}</b></p>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <a href="{{ path('app_admin_categories_show') }}">Back to categories list</a>
{% endblock %}