{% extends 'base.html.twig' %}

{% block body %}
    {% for flash_message in app.session.flashBag.get('notice') %}
        <div class="flash-notice">
            {{ flash_message }}
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashBag.get('error') %}
        <div class="flash-error">
            {{ flash_message }}
        </div>
    {% endfor %}
    {% if curNum %}
        <p>Current number: {{ curNum.generatedNum }}</p>
        <p><a href="{{ path('end_case') }}">End case</a></p>
    {% else %}
        <p><a href="{{ path('start_case') }}">Start next case</a></p>
    {% endif %}
{% endblock %}
